<div class="grid grid-cols-1">
  <div class="flex items-center justify-between rounded-t-2xl bg-white p-3 px-5 py-5 shadow-sm">
    <div>
      <h1 class="p-2 px-3 font-sans text-lg font-bold text-accent">Documentos</h1>
    </div>
  </div>
  <div class="flex flex-col gap-5 rounded-b-2xl bg-white pb-5 pt-2 shadow-sm">
    <div class="grid grid-cols-1 gap-8 rounded-b-2xl">
      <table class="hidden w-full border-collapse rounded-b-2xl bg-white text-left text-sm text-gray-500">
        <thead class="bg-white">
          <tr>
            <th scope="col " class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Nome</th>
            <th scope="col " class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Documento</th>
            <th scope="col " class="hidden px-6 py-4 font-sans text-sm font-bold text-gray-900">Cliente</th>
            <th scope="col " class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Tipo</th>
            <th scope="col " class="px-6 py-4 font-sans text-sm font-bold text-gray-900"></th>
            <th scope="col " class="px-6 py-4 font-sans text-sm font-bold text-gray-900"></th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr>
            <th class="px-6 py-4 text-sm text-primary">Fabiana Ivo</th>
            <td class="px-6 py-4 font-sans text-gray-800">41.827.531/0001-30</td>
            <td class="hidden px-6 py-4 font-sans text-gray-800">helen&#64;email.com</td>
            <td class="px-6 py-4 font-sans text-gray-800">Sócio</td>
            <td class="flex cursor-pointer justify-end gap-4 px-6 py-4 font-medium">
              <a class="text-primary-700">Ver Detalhes</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
