<ng-container aria-label="Adicionar Notas">
  <div [@fadeInOut]
    class="fixed inset-0 z-50 flex w-full items-center justify-center bg-gray-700/50 p-4">
    <div class="w-[470px] min-w-[400px] max-w-[800px]">
      <div
        class=" relative overflow-hidden rounded-xl border border-gray-300 bg-white shadow-sm"
        [ngClass]="{
          'focus-within:border-red-400 focus-within:ring-red-400 focus-within:ring-opacity-100': remainingCharacters === 0,
          '': remainingCharacters > 0
        }">

        <!-- Header -->
        <div class="flex flex-col w-full items-center justify-between">
          <div
            class="px-4 w-full py-2 flex items-start justify-between mt-2 text-slate-500">

            <!-- perfil -->
            <div class="flex gap-2 items-start">
              <div
                class="w-10 h-10 rounded-full bg-no-repeat bg-cover bg-center border" [ngStyle]="{'background-image': 'url( ' + userLoggedData.profilePic +' )'}"></div>
              <div class="flex flex-col">
                <span class="text-sm font-bold text-black">{{userLoggedData.name}}</span>
                <span class="text-xs">{{userLoggedData.email}}</span>
              </div>
            </div>

            <!-- botao -->
            <div>
              <button (click)="closeModal()" class="w-fit group">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke-width="1.5" stroke="currentColor"
                  class="size-5 group-hover:text-primary w-fit">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div>
          </div>
          <div class="h-[1px] bg-slate-50 w-full "></div>
        </div>

        <!-- Body -->
        <textarea
          #textAreaInput
          spellcheck="true"
          lang="pt-BR"
          [(ngModel)]="text"
          [attr.maxlength]="maxLength"
          (input)="maxInputLength()"
          class="block w-full resize-none border-0 focus:border-0 focus:ring-0  text-sm plus-jakarta-sans px-3 text-start"
          rows="8"
          placeholder="O que está acontecendo?"></textarea>

        <!-- Footer -->
        <div
          class="flex w-11/12 m-auto items-center justify-between border-t bg-white p-2 pl-8">

          <ng-container *ngIf="errorMessage">
            <div class="flex space-x-1 text-xs text-red-500">
              {{errorMessage}}
            </div>
          </ng-container>

          <div class="w-full flex items-center justify-end gap-3">
            <span
              class="text-xs text-text border-4 p-1 w-9 flex justify-center items-center h-9 rounded-full "
              [ngClass]="{'text-red-500 border-red-500' : remainingCharacters == 0, 'border-yellow-500' : remainingCharacters <= 20 && remainingCharacters != 0 , 'border-primary' : remainingCharacters !== 0 }">{{remainingCharacters}}</span>
            <div class="space-x-3">
              <button (click)="saveNote(textAreaInput.value)" type="button"
                class="rounded-full border border-primary bg-primary px-2 py-2 text-center text-xs font-medium text-white shadow-sm transition-all hover:bg-primary focus:ring focus:ring-primary disabled:bg-slate-400 border-none cursor-pointer items-center justify-center gap-2 delay-150
        relative overflow-hidden before:absolute before:top-0 before:left-0 before:h-full before:w-full before:origin-left before:scale-x-0 before:bg-primary before:transition-transform before:duration-700 before:ease-in-out hover:before:scale-x-100 before:z-0 group hover:border-primary hover:duration-500 hover:text-white
                ">
                <span class="relative z-10">Salvar
                  Anotação</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
