<ng-container aria-label="Lista de Observações do Cliente">
  <div class="grid grid-cols-1">
    <div
      class="flex items-center justify-between rounded-t-2xl bg-white p-3 px-5 shadow-sm">
      <div>
        <h1 class="p-2 px-2 font-sans text-lg font-bold text-accent">Anotações
          Adicionadas</h1>
        <span class="px-2 text-sm text-text">Veja os comentários que foram
          adicionados.</span>
      </div>
    </div>
    <div class="flex flex-col gap-5 rounded-b-2xl bg-white p-5 pt-0 shadow-sm">

      <div class="relative overflow-x-auto h-[400px] mt-5">

        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>

              <th scope="col" class="px-6 py-3">
                Usuário
              </th>
              <th scope="col" class="px-6 py-3">
                Nota
              </th>
              <th scope="col" class="px-6 py-3">
                Data
              </th>
              <th scope="col" class="px-6 py-3">

              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let note of listOfNotes"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">

              <th scope="row"
                class="flex items-center px-6 py-2 text-gray-900 whitespace-nowrap dark:text-white">
                <img class="size-8 rounded-full"
                  [src]="note.user.profilePic"
                  [alt]="note.user.name">
                <div class="ps-3">
                  <div class="text-sm font-medium
                  ">{{note.user.name.split(" ")[0]}}</div>
                </div>
              </th>

              <td class="px-6 py-2 truncate text-sm max-w-[100px]">
                {{note.note}}
              </td>
              <td class="px-6 py-2">
                <div class="flex items-center">
                  {{note.createdAt | date : 'dd/MM/yyyy HH:mm'}}
                </div>
              </td>
              <td class="px-6 py-2">
                <span class="cursor-pointer hover:text-primary transition-all delay-75"
                  (click)="showCompleteNote(note.noteId)">
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2.89899 12.7346C2.80091 12.5052 2.75 12.2542 2.75 12C2.75 11.7458 2.80091 11.4948 2.89899 11.2654C3.70725 9.34502 4.99868 7.72989 6.61515 6.61781C8.23161 5.50574 10.1029 4.945 12 5.00426C13.8971 4.945 15.7684 5.50574 17.3849 6.61781C19.0013 7.72989 20.2928 9.34502 21.101 11.2654C21.1991 11.4948 21.25 11.7458 21.25 12C21.25 12.2542 21.1991 12.5052 21.101 12.7346C20.2928 14.655 19.0013 16.2701 17.3849 17.3822C15.7684 18.4943 13.8971 19.055 12 18.9957C10.1029 19.055 8.23161 18.4943 6.61515 17.3822C4.99868 16.2701 3.70725 14.655 2.89899 12.7346Z"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M12 15.5C13.933 15.5 15.5 13.933 15.5 12C15.5 10.067 13.933 8.5 12 8.5C10.067 8.5 8.5 10.067 8.5 12C8.5 13.933 10.067 15.5 12 15.5Z"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- Modal com os detalhes da nota -->
      <ng-container *ngIf="showNote">
        <div
          class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  w-full md:inset-0 min-h-screen max-h-full flex justify-center items-center">
          <div
            class="opacity-70 bg-slate-500 w-full h-full fixed overflow-y-auto overflow-x-hidden"></div>
          <div class="bg-white w-[500px] h-[250px] rounded-lg z-10 p-5 fixed">

            <div class="flex w-full justify-between gap-2 items-start">

              <div class="bg-purple-400 rounded-full w-[100px] h-[40px] bg-center bg-cover" [ngStyle]="{'background-image': 'url(' + noteById.user.profilePic + ')'}">
              </div>
              <div class="flex-col flex">
                <span class="font-medium">{{noteById.user.name}}</span>
                <span class="text-xs text-text">{{noteById.user.email}}</span>
              </div>

              <div (click)="showNote = false"
                class="flex left-0 w-full justify-end cursor-pointer text-text hover:text-primary transition-all delay-75">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
            <div class="py-5 text-sm text-text">{{noteById.note}}</div>
            <div class="text-slate-400 text-sm flex justify-end">{{noteById.createdAt | date:'dd/MM/yyyy HH:mm' }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #noNotes>
  <div class="w-full items-center text-center text-sm text-red-500">
    <h1>Sem notas para mostrar...</h1>
  </div>
</ng-template>
