<div class="grid grid-cols-1">
  <div class="flex items-center justify-between rounded-t-2xl bg-white p-3 px-5 shadow-sm">
    <div>
      <h1 class="p-2 px-3 font-sans text-lg font-bold text-accent">Sócios</h1>
    </div>
    <div class="hidden">
      <span class="hover:text-primary-500 cursor-pointer transition-all delay-75">
        <svg xmlns="http://www.w3.org/2000/svg " fill="none " viewBox="0 0 24 24 " stroke-width="1.5 " stroke="currentColor " class="size-6">
          <path stroke-linecap="round " stroke-linejoin="round " d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z " />
        </svg>
      </span>
    </div>
  </div>
  <div class="flex flex-col gap-5 overflow-x-scroll rounded-b-2xl bg-white p-5 pt-0 shadow-sm sm:overflow-hidden">
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
      <thead class="bg-white">
        <tr>
          <th scope="col" class="flex items-center gap-4 px-6 py-4 font-sans text-sm font-bold text-gray-900">
            <span>
              <input type="checkbox" (click)="check = !check" id="example12" name="checkGroup1" class="h-4 w-4 rounded border-gray-300 text-primary shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
            </span>
            <span> CR ID </span>
          </th>
          <th scope="col" class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Nome</th>
          <th scope="col" class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Documento</th>
          <th scope="col" class="hidden px-6 py-4 font-sans text-sm font-bold text-gray-900">Cliente</th>
          <th scope="col" class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Tipo</th>
          <th scope="col" class="px-6 py-4 font-sans text-sm font-bold text-gray-900">Status</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100" *ngFor="let socios of clientDetails[0].partners">
        <tr class="cursor-pointer border-b hover:bg-slate-50">
          <th class="flex gap-3 px-6 py-4 text-primary">
            <input type="checkbox" [checked]="check" id="example12" name="checkGroup1" class="h-4 w-4 rounded border-gray-300 text-primary shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 focus:ring-offset-0 disabled:cursor-not-allowed disabled:text-gray-400" />
            <span class="font-sans font-semibold text-gray-700">{{ socios.crId || '-' }}</span>
          </th>
          <th class="px-6 py-4 text-sm text-primary hover:text-secondary" (click)="socioDetails(socios.userUuid)">
            {{ socios.partnerName || '-' }}
          </th>
          <td class="px-6 py-4 font-sans text-gray-700">{{ socios.partnerDocument | formatCpfCnpj }}</td>
          <td class="px-6 py-4 font-sans text-gray-800">{{ socios.partnerPosition || '-' }}</td>
          <td class="px-6 py-4 font-sans text-gray-800">
            <span class="inline-flex items-center gap-1 rounded-lg px-2 py-1 text-xs font-semibold text-gray-600" [ngClass]="{ 'bg-red-400': socios.accreditationStatus == 'Rejeitado', 'bg-green-400': socios.accreditationStatus == 'Aprovado', 'bg-gray-500 text-white': socios.accreditationStatus == 'Pendente' }">
              <img class="h-4 w-4 rounded-full" [src]="getIconSrc(socios.accreditationStatus)" alt="Icone de Check" />
              {{ socios.accreditationStatus || '-' }}
            </span>
          </td>
          <td class="flex justify-end gap-4 px-6 py-4 font-medium">
            <!-- <a href="/dashboard/clients/details" class="text-primary-700">Ver Detalhes</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
