<div class="grid grid-cols-1">
  <div class="flex items-center justify-between rounded-t-2xl bg-white p-5 shadow-sm">
    <div>
      <h1 class="font-sans text-lg font-bold text-accent">Detalhes do Estabelecimento</h1>
    </div>
  </div>

  <ng-container *ngIf="clientDetails[0] && clientDetails[0].basicData">
    <div class="flex flex-col gap-5 rounded-b-2xl bg-white p-5 pt-1 shadow-sm">
      <div class="grid grid-cols-1 gap-8 text-sm sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3">
        <div class="flex flex-col gap-1">
          <span class="font-sans font-semibold text-gray-800">Nome Fantasia</span>
          <span class="text-sm">{{ clientDetails[0].basicData.tradeName || '-' }}</span>
        </div>
        <div class="rounded">
          <div class="flex flex-col flex-nowrap gap-1">
            <span class="font-sans font-semibold text-gray-800">Nome Completo</span>
            <span class="text-sm">{{ clientDetails[0].basicData.name || '-' }}</span>
          </div>
        </div>
        <div class="rounded">
          <div class="flex flex-col gap-1">
            <span class="font-sans font-semibold text-gray-800">Documento CPF</span>
            <span class="text-sm">{{ clientDetails[0].basicData.document | formatCpfCnpj }}</span>
          </div>
        </div>

        <!-- <div class="rounded">
        <div class="flex flex-col flex-nowrap gap-1">
          <span class="font-sans font-semibold text-gray-800">Atividade Comercial </span>
          <span class="text-sm">{{ clientDetails[0].basicData.commercialActivity || '-' }}</span>
        </div>
      </div> -->

        <div class="rounded">
          <div class="flex flex-col flex-nowrap gap-1">
            <span class="font-sans font-semibold text-gray-800">Data de Nascimento </span>
            <span class="text-sm">{{ clientDetails[0].basicData.birthdayDate || '-' }}</span>
          </div>
        </div>

        <!--
      <div class="rounded">
        <div class="flex flex-col flex-nowrap gap-1">
          <span class="font-sans font-semibold text-gray-800">MCC</span>
          <span class="text-sm">{{ clientDetails[0].basicData.mcc || '-' }}</span>
        </div>
      </div> -->

        <div class="rounded">
          <div class="flex flex-col flex-nowrap gap-1">
            <span class="font-sans font-semibold text-gray-800">Telefone Celular</span>
            <span class="text-sm">{{ clientDetails[0].contact.contactPhone | formatPhone }}</span>
          </div>
        </div>
        <div class="rounded">
          <div class="flex flex-col flex-nowrap gap-1">
            <span class="font-sans font-semibold text-gray-800">E-mail</span>
            <span class="text-sm">{{ clientDetails[0].contact.contactEmail || '-' }}</span>
          </div>
        </div>
        <div class="rounded">
          <div class="flex flex-col flex-nowrap gap-1">
            <span class="title font-bold">Status</span>
            <span class="inline-flex w-[100px] items-center gap-1 rounded-lg px-2 py-1 text-xs font-semibold text-slate-50" [ngClass]="{ 'bg-red-500 text-slate-100': clientDetails[0].registerStatus == 'Rejeitado', 'bg-green-500 text-slate-50': clientDetails[0].registerStatus == 'Aprovado', 'bg-gray-500 text-white': clientDetails[0].registerStatus == 'Pendente' }">
              <img class="h-4 w-4 rounded-full" [src]="getIconSrc(clientDetails[0].registerStatus)" alt="Icone de Check" /> {{ clientDetails[0].registerStatus || '-' }}
            </span>
          </div>
        </div>
        <!--

      <div class="rounded">
        <div class="flex flex-col flex-nowrap gap-1">
          <span class="font-sans font-semibold text-gray-800">Tributação</span>
          <span class="text-sm">{{ clientDetails[0].contractData.taxation || '-' }}</span>
        </div>
      </div> -->

        <div class="flex flex-col gap-1">
          <span class="font-sans font-semibold text-gray-800">Tipo</span>
          <span class="w-fit rounded-full p-1 text-sm font-bold text-text">{{ clientDetails[0].type || '-' }}</span>
        </div>

        <div class="flex flex-col gap-1">
          <span class="font-sans font-semibold text-gray-800">Criado por</span>
          <span class="w-fit rounded-full p-1 text-sm text-text">{{ createdBy || 'N/A' }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
