<ng-container aria-label="Page Not Found">
  <div>
    <div class="flex justify-center items-center flex-col h-[90vh]">
      <img class="w-[300px]" src="assets/icons/404.svg" />
      <h1 class="text-2xl font-bold">Página <s>não</s> encontrada</h1>
      <div class="mt-10  flex justify-center">
        <a href="/dashboard/home"
          class="border border-green-400 p-3 rounded-lg bg-primary h-fit text-white cursor-pointer ">
          Voltar para o site
        </a>
      </div>
    </div>
    <div>
    </div>
  </div>
</ng-container>
