<ng-container aria-label="Editar Cadastro">
  <section [@fadeInOut] class="fixed inset-0 z-50 flex items-center justify-center bg-gray-700/50 p-4">
    <div class="h-full w-full max-w-lg overflow-y-auto overflow-x-hidden rounded-lg bg-white shadow-xl sm:max-w-xl md:max-w-2xl lg:h-fit lg:max-w-3xl xl:max-w-xl">
      <div class="space-y-4 p-4 sm:p-6">
        <div class="flex items-start justify-between">
          <div class="pb-5">
            <span class="text-xs text-slate-500">Editar dados</span>
            <h1 class="text-lg font-bold sm:text-xl">{{ editionDetails[0].title }}</h1>
            <ng-container *ngIf="hasError">
              <div class="py-1">
                <span class="text-sm text-red-500">Ocorreu um erro ao tentar salvar as informações. Contate o administrador do sistema.</span>
              </div>
            </ng-container>
          </div>
          <button class="p-2" (click)="closeEditModal()">
            <img class="h-5 w-5 sm:h-6 sm:w-6" src="assets/icons/closeIcon.svg" alt="Fechar" />
          </button>
        </div>
        <ng-container *ngIf="!flagEdit">
          <form class="w-full" [formGroup]="updateClientDataForm">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
              <ng-container *ngFor="let input of editInputsList; index as i; trackBy: trackByFn">
                <div class="w-full">
                  <label class="mb-1 block text-xs font-medium text-primary">{{ editInputTitles[i] }}</label>
                  <input (blur)="checkForAlterations()" class="w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500" [type]="inputType" [value]="editInputOldValues[i]" [formControlName]="input" [prefix]="getMaskConfig(input)?.prefix || ''" [mask]="getMaskConfig(input)?.mask || ''" />
                </div>
              </ng-container>
            </div>
            <div class="mt-6">
              <app-layout-buttons-primary-button (click)="saveAlterations()" [data]="submitFormButtonElement" class="w-full sm:w-auto" />
            </div>
          </form>
        </ng-container>

        <!-- Editar bandeiras -->
        <ng-container *ngIf="flagEdit">
          <div class="flex flex-col gap-5">
            <!-- <span>Bandeiras Atuais</span> -->

            <ng-container *ngIf="flagsByNames.length > 0; else noActualFlags">
              <app-layout-flagTag [Item]="flagsByNames" (ItemClicked)="clickedFlagValue($event)" />
            </ng-container>

            <ng-template #noActualFlags>
              <span class="text-sm text-red-500">Cliente não possui bandeiras no momento...</span>
            </ng-template>

            <div class="flex flex-col gap-5">
              <span>Adicionar Bandeiras</span>
              <select [disabled]="remainderFlags.length < 1" class="disabled:bg-slate-200 w-full rounded-lg border border-slate-300" (change)="addFlagClicked($event)" #selectFlag>
                <option *ngIf="remainderFlags.length > 0" value="" selected disabled>Selecione uma bandeira</option>
                <option *ngIf="remainderFlags.length < 1" value="" selected disabled>Todas as bandeiras já foram selecionadas</option>
                <option *ngFor="let remain of remainderFlags" [value]="remain">{{ remain }}</option>
              </select>
            </div>

            <div class="mt-5 flex justify-end gap-4">
              <button class="h-[40px] rounded-lg border bg-accent px-3 text-white" (click)="saveNewFlags()">Salvar Alteração</button>
              <button class="h-[40px] rounded-lg border bg-red-500 px-3 text-white" (click)="closeEditModal()">Cancelar</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</ng-container>
