<div class="min-h-screen bg-background p-3 mt-16">
  <div class="rounded-lg bg-white dark:border-gray-700">
    <div class="grid grid-cols-1 items-center justify-between gap-3 px-5 py-7 lg:flex">
      <div class="flex flex-col">
        <h1 class="font-sans text-xl font-bold">Todos os Clientes</h1>
        <span class="text-sm">Listagem de todos os clientes registrados no sistema</span>
      </div>

      <div class="flex gap-3">
        <app-layout-searchInput (InputValue)="searchInput($event)" />
        <app-layout-filter (selectedStatus)="searchFilter($event)" />
      </div>
    </div>

    <div class="m-auto mb-4 grid grid-cols-1 items-center justify-center gap-4">
      @if (filterOptions.length > 0) {
        <div class="flex w-full justify-end gap-4 px-5">
          <app-layout-tag [Item]="filterOptions" />
          <button (click)="clearFilter()" class="cursor-pointer text-xs font-bold text-red-500 underline">Limpar filtros</button>
        </div>
      }

      <div>
        <div class="flex flex-col gap-5 overflow-x-auto bg-white p-5 pt-0">
          <table class="w-full min-w-max border-collapse bg-white text-left text-xs text-gray-500" aria-label="Lista de clientes cadastrados">
            <thead class="bg-white" role="rowgroup">
              <tr>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-gray-900">CR ID</th>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-accent">Nome</th>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-accent">Documento</th>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-accent">Tipo</th>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-accent">Data de Cadastro</th>
                <th scope="col" class="px-6 py-4 text-sm font-bold text-accent">Status</th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-100 border-t border-gray-100 text-gray-800" *ngFor="let clients of filteredClients" role="rowgroup">
              <ng-container *ngIf="filteredClients.length > 0">
                <tr class="border-b">
                    <td class="px-6 py-4">{{ clients.basicData.crId || '-' }}</td>
                    <td class="cursor-pointer px-6 py-4 text-xs font-semibold text-accent" (click)="clientDetails(clients.basicData.crId)">
                      {{ clients.basicData.tradeName | uppercase }}
                    </td>

                  <td class="px-6 py-4">{{ clients.basicData.cnpj || clients.basicData.cpf | formatCpfCnpj }}</td>
                  <td class="px-6 py-4 sm:table-cell">{{ clients.basicData.type || '-' }}</td>
                  <td class="px-6 py-4">{{ clients.basicData.createdAt | date: "dd/MM/yyyy '-' hh:mm a" }}</td>
                  <td class="px-6 py-4">
                    <span class="inline-flex items-center gap-1 rounded-lg px-2 py-1 text-xs font-semibold text-white"
                      [ngClass]="{
                        'bg-red-500': clients.basicData.registerStatus == 'Rejeitado',
                        'bg-green-500': clients.basicData.registerStatus == 'Aprovado',
                        'bg-gray-500': clients.basicData.registerStatus == 'Pendente'
                      }">
                      <img class="h-4 w-4 rounded-full" [src]="getIconSrc(clients.basicData.registerStatus)" alt="Ícone de Status" />
                      {{ clients.basicData.registerStatus || '-' }}
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-container *ngIf="filteredClients.length < 1">
      <div class="flex min-h-[400px] items-center justify-center">
        <span class="font-sans text-lg font-semibold text-red-500" *ngIf="!dontHaveClientsYet">Não existe clientes para mostrar...</span>
        <span class="font-sans text-lg font-semibold text-red-500" *ngIf="dontHaveClientsYet">Você ainda não tem clientes para mostrar...</span>
      </div>
    </ng-container>

    @if (filteredClients.length > 0) {
      <div class="px-10 py-5">
        <app-layout-pagination [totalPages]="totalPages" [currentRoute]="'/dashboard/todos-os-clientes'" />
      </div>
    }
  </div>
</div>
