.banner {
    // background-image: url("https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2149020687.jpg?t=st=1724170852~exp=1724174452~hmac=a53449241214c507611f334b4da3bfc018bcd5edd2c2f54277ec3447a71bddd4&w=1060");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // border: solid 4px blue;
    ;
}