<ng-container aria-label="Tela de Detalhes de Propostas">
  <div class="min-h-screen bg-[#eef1f6] p-4">
    <section class="mt-16 rounded-lg bg-white px-4 pb-5">
      <div class="flex items-center justify-end gap-2 pt-5">
        <app-layout-searchInput (InputValue)="searchValue($event)" [placeholder]="'Pesquise um Proposal ID, Documento...'" />
        <!-- <app-layout-button-actionButton /> -->
      </div>

      <div class="flex flex-col gap-1 px-3">
        <h1 class="text-base font-bold">Solicitações na Adiq</h1>
        <span class="text-sm">Lista de todos os credenciamentos realizados na Adiq</span>
      </div>
      <div class="m-auto mb-0 mt-4 w-full border-b border-slate-100"></div>

      <div>
        <table class="w-full border-collapse rounded-lg bg-white text-left text-sm text-gray-500">
          <thead class="bg-white">
            <tr>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Proposal Id</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Documento</th>
              <!-- <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Código Facilitador</th> -->
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Tipo de Produto</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">MID</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Situação</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Data de Cadastro</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary">Última atualização</th>
              <th scope="col" class="px-6 py-4 text-sm font-bold text-primary"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-50 text-xs">
            <tr class="cursor-default" *ngFor="let proposalDetail of allProposals; index as i">
              <td class="px-6 py-4 font-sans font-bold text-primary">{{ proposalDetail.idProposal }}</td>
              <td class="px-6 py-4 font-sans text-gray-800">{{ proposalDetail.type.number | formatCpfCnpj }}</td>
              <td class="py-4 font-sans text-gray-800 lg:px-10">{{ productType(proposalDetail.terminais.tecnologyCode) }}</td>
              <td class="px-6 py-4 font-sans text-gray-800"></td>
              <!-- <td class="px-6 py-4 font-sans text-gray-800">{{ getTypeClient(proposalDetail.type.id) }}</td> -->
              <td class="px-6 py-4 font-sans">
                <span
                  class="rounded-full px-2 py-1 text-xs"
                  [ngClass]="{
                    'bg-green-100 text-green-700': convertStatus(proposalDetail.proposalStatus[0].descStatus) === 'Aprovado',
                    'bg-gray-100 text-gray-700': convertStatus(proposalDetail.proposalStatus[0].descStatus) === 'Enviado para fila Backoffice',
                    'bg-red-100 text-red-700': convertStatus(proposalDetail.proposalStatus[0].descStatus) === 'Sem Status',
                    'bg-yellow-100 text-yellow-700': convertStatus(proposalDetail.proposalStatus[0].descStatus) === 'Em análise',
                  }"
                >
                  {{ convertStatus(proposalDetail.proposalStatus[0].descStatus) }}
                </span>
              </td>
              <td class="px-6 py-4 font-sans text-gray-800">{{ proposalDetail.proposalStatus[0].last_update | date: 'dd/MM/yyyy - HH:mm' : 'America/Sao_Paulo' }}</td>
              <td class="px-6 py-4 font-sans text-gray-800">{{ proposalDetail.proposalStatus[0].last_update | date: 'dd/MM/yyyy - HH:mm' : 'America/Sao_Paulo' }}</td>
              <td class="px-6 py-4 font-sans text-gray-800"></td>
              <td class="px-6 py-4 font-sans text-gray-800"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pb-5 pt-10">
        <app-layout-pagination [totalPages]="totalPages" [currentRoute]="'/dashboard/credAdiq/solicitacoes'" />
      </div>
    </section>
  </div>
</ng-container>
