<nav
  class="fixed top-0 z-40 h-16 w-full border-b border-gray-100 bg-white dark:border-gray-700 dark:bg-gray-800">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex w-11/12 items-center justify-start rtl:justify-end">
        <a href="dashboard/home" class="ms-2 flex md:me-24">
          <img src="/assets/imgs/logo.svg" class="me-3 h-7" alt="Payup Logo" />
        </a>
      </div>

      <div class="rounded-full bg-primary p-1 text-xs text-white">
        {{ leftLoginTimer }}
      </div>
      <div class="mr-10 flex items-center justify-center" (click)="toggleProfile()">
        <div class="ms-3 flex w-full cursor-pointer items-center justify-center gap-7">
          <div class="flex w-full items-center justify-center gap-3">
            <button type="button"
              class="flex rounded-full bg-white text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="true" data-dropdown-toggle="dropdown-user">
              <div class="profile-picture plus-jakarta-sans">
                @if (hasProfilePic) {
                <div [style.backgroundImage]="'url(' + profileUrl + ')'"
                  class="border-1 h-[44px] w-[44px] rounded-full border border-dashed border-slate-700 bg-cover bg-center"></div>
                } @else {
                <div
                  class="border-1 flex h-[44px] w-[44px] items-center justify-center rounded-full border border-dashed border-slate-700 bg-blue-300 bg-cover bg-center text-xl font-bold">{{
                  profileUrl }}</div>
                }
              </div>
            </button>
          </div>

          <div *ngIf="showProfile === true"
            class="fixed top-9 z-50 mt-8 min-h-[140px] w-[140px] list-none divide-y divide-gray-100 rounded bg-white font-sans text-base shadow dark:divide-gray-600 dark:bg-gray-700"
            id="dropdown-user">
            <ul>
              <!-- <li routerLink="/dashboard/perfil" class="flex items-center gap-2 border-b border-slate-50 p-2 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                <span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2101 15.74L15.67 19.2801C15.53 19.4201 15.4 19.68 15.37 19.87L15.18 21.22C15.11 21.71 15.45 22.05 15.94 21.98L17.29 21.79C17.48 21.76 17.75 21.63 17.88 21.49L21.42 17.95C22.03 17.34 22.32 16.63 21.42 15.73C20.53 14.84 19.8201 15.13 19.2101 15.74Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.7001 16.25C19.0001 17.33 19.84 18.17 20.92 18.47" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.40991 22C3.40991 18.13 7.25994 15 11.9999 15C13.0399 15 14.0399 15.15 14.9699 15.43" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </span>
                <a class="block text-sm text-gray-700" role="menuitem">Perfil</a>
              </li> -->

              <li
                class="flex items-center border-b border-slate-50 px-2 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                <span class="text-red-500">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M13.4767 21.2448H8.34067C7.04877 21.3045 5.78536 20.8527 4.82407 19.9876C3.86278 19.1224 3.28099 17.9134 3.2047 16.6224V7.37762C3.28099 6.08659 3.86278 4.87757 4.82407 4.01241C5.78536 3.14724 7.04877 2.69559 8.34067 2.75524H13.4767"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M20.7953 12H7.44174" stroke="currentColor" stroke-width="1.5"
                      stroke-miterlimit="10" stroke-linecap="round" />
                    <path
                      d="M16.0833 17.136L20.4874 12.7319C20.6802 12.5371 20.7884 12.2742 20.7884 12C20.7884 11.7259 20.6802 11.4629 20.4874 11.2681L16.0833 6.86404"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
                <button (click)="logoff()"
                  class="flex w-full items-center px-2 text-sm hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white">
                  <span class="block py-2 text-sm text-red-500">Sair</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
