<div [@slideInOutAnimation] class="flex h-screen w-[300px] items-center justify-center rounded-2xl bg-white font-sans shadow-lg">
  <div class="profile_items flex h-full w-full flex-col items-center justify-start p-4">
    <div class="w-full justify-start"><img class="h-6 w-6" src="assets/icons/closeIcon.svg" alt="icone de fechar" /></div>

    <div class="flex w-full flex-col items-center justify-center gap-5 pt-10">
      <img class="h-20 w-20 rounded-full border-2" src="/assets/imgs/avatar.png" alt="user photo" />
      <div class="flex flex-col text-center">
        <span class="text-2xl font-semibold">User</span>
        <span class="text-text">fabizinha&#64;gmail.com</span>
      </div>
    </div>

    <div class="mt-4 w-full border border-dashed border-slate-200"></div>

    <div class="w-full">
      <ul class="flex w-full flex-col">
        <li class="flex w-full cursor-pointer items-center justify-start rounded px-2 py-3 transition-all delay-75 hover:bg-slate-100"><a href="#">Item 1</a></li>
        <li class="flex w-full cursor-pointer items-center justify-start rounded px-2 py-3 transition-all delay-75 hover:bg-slate-100"><a href="#">Item 1</a></li>
        <li class="flex w-full cursor-pointer items-center justify-start rounded px-2 py-3 transition-all delay-75 hover:bg-slate-100"><a href="#">Item 1</a></li>
        <li class="flex w-full cursor-pointer items-center justify-start rounded px-2 py-3 transition-all delay-75 hover:bg-slate-100"><a href="#">Item 1</a></li>
        <li class="flex w-full cursor-pointer items-center justify-start rounded px-2 py-3 transition-all delay-75 hover:bg-slate-100"><a href="#">Item 1</a></li>
      </ul>
    </div>

    <div class="mt-4 w-full border border-dashed border-slate-200"></div>

    <div class="mt-auto flex w-full justify-center">
      <button class="font-Nunito h-fit w-full rounded-lg bg-red-100 py-3 font-bold text-red-600">Sair</button>
    </div>
  </div>
</div>
