/* You can add global styles to this file, and also import other style files */

@import './tailwind.scss';

.font-Inter {
  font-family: 'Inter', sans-serif;
}

.font-Nunito {
  font-family: 'Nunito', sans-serif;
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-primary {
  font-family: "Space Grotesk", serif;
}
