/* You can add global styles to this file, and also import other style files */

@import './tailwind.scss';

*{
  scrollbar-width: thin;
  scrollbar-color: #c4b5fd #ede9fe;
  scrollbar-width: 5px;
  stroke-linejoin: miter;
}

.font-Inter {
  font-family: 'Inter', sans-serif;
}

.font-Nunito {
  font-family: 'Nunito', sans-serif;
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-primary {
  font-family: "Space Grotesk", serif;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
