<div class="flex flex-col gap-2 font-sans">

    <div class="bg-violet-50 w-full py-3 rounded-md" *ngFor="let produtos of produtosAdicionados">
        <div class="flex justify-between items-center px-3">
            <div class="flex flex-wrap gap-5">
                <div class="flex gap-2 items-center">
                    <span class="text-sm font-semibold">Tecnologia:</span>
                    <div>
                        <span class="uppercase text-sm">{{checkAndReturnProductName(produtos.terminais.posTerminal.tecnologyCode)}}</span>
                    </div>
                </div>

                <div class="flex gap-2 text-center items-center">
                    <span class="text-sm font-semibold">Qtd. Soluções:</span>
                    <div>
                        <span class="text-sm">{{produtos.terminais.qt}}</span>
                    </div>
                </div>

                <div class="flex gap-2 items-center">
                    <span class="text-sm font-semibold">Combo:</span>
                    <div>
                        <span class="text-sm">{{produtos.combo}}</span>
                    </div>
                </div>

                <div class="flex gap-2 items-center">
                    <span class="text-sm font-semibold">Taxa:</span>
                    <div>
                        <span class="text-sm">{{produtos.taxa}}</span>
                    </div>
                </div>

            </div>
            <div (click)="removeProduct(produtos.terminais.posTerminal.tecnologyCode)" class="cursor-pointer hover:bg-blue-100 transition-all delay-100 rounded-full">
                <img class="w-6 h-6" src="/assets/icons/trashIcon.svg" alt="Icone de remoção">
            </div>
        </div>
    </div>
</div>
